<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteRule ^invalid_referer\.png$ - [L]

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(.+\.)?naver\.com [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://(.+\.)?daum\.com [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://(.+\.)?namu\.wiki [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://anboo\.modneycare\.com [NC]
RewriteRule \.(jpg|jpeg|png|gif|css|js|mp4)$ https://devapi.modneycare.com/invalid_referer.png [NC,R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

<IfModule mod_headers.c>
<Files ~ "\.(png|jpg|jpeg|gif|css|js|mp4)$">
header set modney-cache-status "HIT"
header set cache-control "public, max-age=2678400"
</Files>

header set modney-ray "anboo1"
</IfModule>